.headerContainer {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clippingContent {
    width: 1024px;
    height: 66px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img {
    width: 225px;
    height: 36px;
}

.navigation {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.list {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

.listItem {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.navLink {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #40423F;
}

.btnSignUp {
    width: 125px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: unset;
    background: linear-gradient(to right, #4b76b0 0%, #65bbb7 100%);
    cursor: pointer;
}

.btnLink {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}