.userContainer {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.addUser {
    width: 170px;
    height: 40px;
    background-color: rgb(10, 97, 220);
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    border: unset;
}

.addUser:hover {
    transition: 0.5s;
    background-color: rgb(8, 80, 179);
}

.usersInfo {
    width: 100%;
    min-height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.usersInfoBox {
    width: 450px;
    min-height: 150px;
    padding: 10px;
    margin-right: 250px;
    margin-bottom: 10px;
    border: 1px solid #000;
}

.userData {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.delete {
    width: 150px;
    height: 40px;
    background-color: rgb(234, 7, 7);
    border: unset;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.delete:hover {
    transition: 0.5s;
    background-color: rgb(200, 11, 11);
}