.reviewsContainer {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 50px;   
    border-top: 1px solid #25282c;
}

.reviewInfo {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.reviewBox {
    width: 350px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    margin-right: 25px;
    background-color: #25282C;
}

.imgDecor {
    width: 150px;
    height: 60px;
    position: relative;
    margin-bottom: 16px;
}

.img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.svg {
    position: absolute;
    top: 0;
    left: 38px;
    width: 25px;
    height: 25px;
}

.decor {
    fill: #5D5DFF;
}

.desc {
    width: 100%;
    height: 150px;
    font-size: 18px;
    color: #9BA9B4;
    margin: 0;
}

.line {
    width: 100%;
    height: 1px;
    margin-top: 24px;
    border-bottom: 1px solid #33363A;
}

.bottomInfo {
    width: 100%;
    height: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0;
}

.userName {
    color: #D9E3EA;
    margin-right: 20px;
}

.link {
    color: #5D5DFF;
    text-decoration: none;
}